body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    text-align: center;
    background: #444;
    padding: 0.5em 0;
}

nav a {
    margin: 0 1em;
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    background: #fff;
    margin: 1em 0;
}

div {
    padding: 2em;
    background: #fff;
    margin: 1em 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input {
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    padding: 0.7em;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #555;
}


#skills {
    padding: 2em;
    background-color: #f9f9f9;
    margin: 1em 0;
}

#skills h2 {
    text-align: center;
    color: #333;
}

#skills ul {
    list-style-type: disc; /* You can change this to circle, square, etc. */
    padding-left: 20px;
}

#skills li {
    margin: 0.5em 0;
}

.linkedin-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b5; /* LinkedIn blue */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.linkedin-btn:hover {
    background-color: #005582; /* Darker LinkedIn blue */
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#hobbies {
    padding: 2em;
    background-color: #f9f9f9;
    margin: 1em 0;
    text-align: center;
}

#hobbies h2 {
    color: #333;
}

.hobby {
    display: inline-block;
    width: 30%;
    margin: 1em;
    vertical-align: top;
}

.hobby-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hobby h3 {
    margin-top: 0.5em;
    color: #555;
}

.hobby p {
    color: #777;
}

#profile-picture {
    text-align: center;
    padding: 2em;
    background-color: #f9f9f9;
    margin: 1em 0;
}

.profile-image {
    width: 300px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #333; /* Adds a border around the image */
}
